input {
  text-align: center;
}

.base {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  user-select: none;
  text-align: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
  position: absolute;;
}

.base > div {
  /*width: 100px;*/
  /*border: 1px solid white;*/
}

.base:hover {
  background-color: #505050;
}

input {
  background-color: transparent;
  color: white;
  width: 20px;
  border: none;
  font-weight: 700;
}

/*Popup*/
.select {
  position: absolute;
  width: 100px;
  max-height: 300px;
  border: 1px solid orange;
  /*background-color: #222;*/
  z-index: 2;
  text-align: center;
  /*max-height: 30%;*/
  font-size: 1rem;

  user-select: none;
  cursor: pointer;
  /*overflow: auto;*/
  /*Grid with 2 columns*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/*.select > div {*/
/*  display: flex;*/
/*  flex: 1;*/
/*  padding: .5rem;*/
/*  border: 1px solid yellow;*/
/*  flex-direction: column;*/
/*}*/
.hour {
  /*First column in grid*/
  grid-column: 1;
}

.minute {
  /*Second column in grid*/
  grid-column: 2;
}

.hours {
  border: 1px solid red;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.hours div {
  border: var(--border);
  flex: 1;
  height: 300px;
  overflow: auto;
}

.minutes div {
  flex: 1;
  border: var(--border);
}

.selected {
  background-color: #949494;
}

.hours {
  direction: rtl;
}


