<!--Base-->
<div #base class="base" [ngStyle]="{'z-index': isOpen ? 2 : 0}" (click)="open()">
  <input #inputHours (mousedown)="inputHoursMouseDown($event)" (keyup.control.a)="selectAll($event)" (keydown)="inputHoursKeyDown($event)" [value]="selectedHour == null ? 'NA' : selectedHour">
  <div>:</div>
  <input #inputMinutes (mousedown)="inputMinutesMouseDown($event)" (keydown)="inputMinutesKeyDown($event)" [value]="selectedMinute == null ? 'NA' : selectedMinute.toLocaleString('en-US', {minimumIntegerDigits: 2})">
</div>
<!--Popup-->
<div class="dim" *ngIf="isOpen" (click)="isOpen = false">
</div>

<div class="popup" *ngIf="isOpen" [ngStyle]="getBoxStyle()" (click)="$event.stopPropagation()">
  <div class="container">
    <div class="hour" *ngFor="let hour of hours" (click)="selectHour(hour)" [ngClass]="{'selected': hour === selectedHour}">{{hour}}</div>
  </div>

  <div class="container">
    <div class="minute" *ngFor="let minute of minutes" (click)="selectMinute(minute)" [ngClass]="{'selected': minute === selectedMinute}">{{minute.toLocaleString('en-US', {minimumIntegerDigits: 2})}}</div>
  </div>
<!--  <div class="hours">-->
<!--  </div>-->
<!--  <div class="minutes">-->
<!--  </div>-->
</div>
